*{
    font-family: 'Lato', Arial;
}
#body-wrapper{
    background-image: url("../Images/bg.jpg");
    background-size:   cover;                     
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#333;
    min-height:450px;
}
.footer{
    min-height: 50px;
    background-color: #333;
}

.body-bg{
    background-color:#FAFAFA;
    opacity: .85;
    min-height:450px;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


