@{
    ViewBag.Title = "Halp, I need a build!";
}
<header id="header" role="banner">
    <div class="container">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">The Braverest!</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                    <li><a href="#services">Become The Braverest</a></li>
                    <li><a href="#contact">Partners</a></li>
                </ul>
            </div>
        </div>
    </div>
</header><!--/#header-->
<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Become the Braverest Today!</h1>
                    <p class="lead">Show your opponents they are no match for you. Take no prisoners!</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Who Needs a Proper Build?</h1>
                    <p class="lead">I'm So Meta Even This Acronym.</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->
<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-12">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- TheBraverest -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2001188018575506"
                         data-ad-slot="5065873877"
                         data-ad-format="auto"></ins>
                    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                   
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-12">
                    <h3>Get your Braverest Build Now!</h3>
                    <p>Click the button below to get started</p>
                    <button type="button" id="submit-build-request" class="btn btn-primary btn-lg">Create My Build</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="template">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="lead">
                                    Behold! The Gods have granted you a build. Use it! and
                                    become the Braverest in all the land!!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img id="image-champion" width="128" height="128" class="display-inline" />
                                <h2 id="label-champion-name" class="display-inline"></h2>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div style="width:96px; display:block">
                                    <img id="image-skill" width="64" height="64" class="display-inline" />
                                    <ul class="list-unstyled display-inline" style="float:right" id="list-summoner-spells"></ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled list-inline list-group" id="list-items-1"></ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <strong>Offense: </strong><b id="label-mastery-offense" style="color:red"></b>  &nbsp;
                                <strong>Defense: </strong><b id="label-mastery-defense" style="color:blue"></b> &nbsp;
                                <strong>Utility: </strong><b id="label-mastery-utility" style="color:green"></b>&nbsp;
                            </div>
                        </div>
       
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Download Your Braverest Build!</h3>
                                <a class="btn btn-primary" id="link-download-text" href="#">Download Build File</a>
                                <a class="btn btn-primary" id="link-download-zip" href="#">Download Zip (OPTIONAL)</a>
                                <a class="btn btn-primary" id="link-download-plain" href="#">Get The Build Code</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Share your build!</h3>
                                <div class="input-group">
                                    <input class="form-control" type="text" value="" id="text-share-build" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default">Copy</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            The Most Important Rule: Make sure to type <b>"I AM THE BRAVEREST"</b> in /all chat so everyone knows how lucky they are
                            to be playing with someone like you!
                        </p>
                        <a href="#">See all of the rules here!</a>
                    </div>
                </div>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->
<!-- Modal -->

<!-- Button trigger modal -->
<button 
    type="button" 
    class="btn btn-primary btn-lg" 
    id="button-show-modal" 
    data-toggle="modal" 
    data-target="#myModal" 
    data-backdrop="static"
    style="display:none;">
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p class="lead" id="modal-description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var pageData = {

        };
    </script>
    <script src="~/Scripts/TheBraverest.js"></script>
    <script src="~/Scripts/app.js"></script>
}