@{
    ViewBag.Title = "Halp, I need a build!";
}
<header id="header" role="banner">
    <div class="container">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">The Braverest!</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                    <li><a href="#services">Become The Braverest</a></li>
                    <li><a href="#contact">Partners</a></li>
                </ul>
            </div>
        </div>
    </div>
</header><!--/#header-->
<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Become the Braverest Today!</h1>
                    <p class="lead">Show your opponents they are no match for you. Take no prisoners!</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Who Needs a Proper Build?</h1>
                    <p class="lead">I'm So Meta Even This Acronym.</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->
<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-12">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- TheBraverest -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2001188018575506"
                         data-ad-slot="5065873877"
                         data-ad-format="auto"></ins>
                    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <h3>How to use the Braverest Build System:</h3>
                    <p class="lead">To use the Braverest Build System, click on the <strong>Create My Build</strong> button.
                    </p>
                    <p class="lead">
                        Our <strong>Brave Build Generation System<sup>TM</sup></strong> will generate a build guide for you to use in game.
                        Place the build in your {Riot Games Directory}\League of Legends\Config\Champions\{champion}\Recommended directory. 
                        During the game when you open up the shop interface you should be prompted to
                        buy your <i>super speshul</i> items hand crafted for a pro like yourself.
                    </p>
                    <p class="lead">
                        Make sure to type <b>"I AM THE BRAVEREST"</b> in /all chat so everyone knows how lucky they are
                        to be playing with someone like you!
                    </p>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-12">
                    <h3>Get your Braverest Build Now!</h3>
                    <p>Click the button below to get started</p>
                    <button type="button" id="submit-build-request" class="btn btn-primary btn-lg">Create My Build</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div id="template">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="lead">
                                    Behold! The Gods have granted you a build. Use it! and
                                    become the Braverest in all the land!!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>The Champion Bestowed Upon You!</h3>
                                <img id="image-champion" width="82" height="82" class="display-inline" />
                                <h3 id="label-champion-name" class="display-inline"></h3>
                            </div>
                            <div class="col-md-6">
                                <h3>Skill To Max First</h3>
                                <img id="image-skill" width="64" height="64" class="display-inline" />
                                <h3 id="label-skill-name" class="display-inline"></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>You Shall Purchase These Items!</h3>
                                <ul class="list-unstyled list-inline" id="list-items-1" >
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>And Your Summoner Spells Will Be</h3>
                                <ul class="list-unstyled list-inline" id="list-summoner-spells"></ul>
                            </div>
                        </div>
                  
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Finally, These Will Be Your Mastery Distribution</h3>
                                <p><strong>Offense: </strong><span id="label-mastery-offense"></span></p>
                                <p><strong>Defense: </strong><span id="label-mastery-defense"></span></p>
                                <p><strong>Utility: </strong><span id="label-mastery-utility"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Download Your BraveRest Build!</h3>
                                <a class="btn btn-primary" id="link-download-text" href="#">Download Base Build</a>
                                <a class="btn btn-primary" id="link-download-zip" href="#">Download Zip With Installer</a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Share your build!</h3>
                                <input class="form-control" type="text" value="" id="text-share-build" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->



@section scripts{
    <script src="~/Scripts/TheBraverest.js"></script>
    <script src="~/Scripts/app.js"></script>
}