@model TheBraverest.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Halp, I need a build!";
}
<header id="header" role="banner">
    <div class="container">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">The Braverest!</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                    <li><a href="#services">Become The Braverest</a></li>
                    <li><a href="#contact">Partners</a></li>
                </ul>
            </div>
        </div>
    </div>
</header><!--/#header-->
<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Become the Braverest Today!</h1>
                    <p class="lead">Show your opponents they are no match for you. Take no prisoners!</p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Who Needs a Proper Build?</h1>
                    <p class="lead">I'm So Meta Even This Acronym.</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->
<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
            </div><!--/.row-->
            <div class="row">
                <div class="col-md-12">
                    <h3>Get your Braverest Build Now!</h3>
                    <button type="button" id="submit-build-request" class="btn btn-primary btn-lg">Create My Build</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="template">
                        <div id="build-details" style="visibility: hidden;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        The Gods have granted you a build. Use it to
                                        become the Braverest in the land by clicking one of the buttons below!
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="image-champion" data-toggle="tooltip" data-placement="top" class="champion"></div>
                                    <h2 id="label-champion-name" class="display-inline"></h2>
                                    <div class="clear: both;"></div>
                                    <div style="width: 96px; display: block; float: left; margin-top: 7px;">
                                        <span id="skill-letter" data-toggle="tooltip" data-placement="left" class="badge" style="background-color: #9932cc"></span>
                                        <br />
                                        <img id="image-skill" data-toggle="tooltip" data-placement="left" width="64" height="64" class="display-inline" style="float: left" />
                                        <ul class="list-unstyled display-inline" style="float: right; margin-bottom: 0px;" id="list-summoner-spells"></ul>
                                        <span class="badge" id="label-mastery-offense" data-toggle="tooltip" data-placement="bottom" title="Offense" style="background-color: red; float: left;"></span>
                                        <span class="badge" id="label-mastery-defense" data-toggle="tooltip" data-placement="bottom" title="Defense" style="background-color: blue; float: left;"></span>
                                        <span class="badge" id="label-mastery-utility" data-toggle="tooltip" data-placement="bottom" title="Utility" style="background-color: green; float: left;"></span>
                                    </div>
                                    <div style="float: left; padding-left: 20px; margin-top: 28px;">
                                        <ul class="list-unstyled list-inline list-group" id="list-items-1"></ul>
                                    </div>

                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary" id="link-download-text" href="#">Download Build File</a>
                                    <a class="btn btn-primary" id="link-download-zip" href="#">Download Zip (OPTIONAL)</a>
                                    <a class="btn btn-primary" id="link-download-plain" target="_blank" href="#">Copy/Paste Manually</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Share your build!</h3>
                                    <input class="form-control" type="text" value="" id="text-share-build" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Rules</h3>
                <div class="col-md-12">
                    <p class="lead">
                        The Most Important Rule: Make sure to type <b>"I AM THE BRAVEREST"</b> in /all chat so everyone knows how lucky they are
                        to be playing with someone like you!
                        <a href="/Rules">See all of the rules here!</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <h3>The Braverest API!</h3>
                <div class="col-md-12">
                    <p class="lead">
                        Want to make something with Brave Champions?
                        We have our own API. Check out the documentation and make people the Braverest they can be <a href="/Help">HERE!</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- TheBraverest -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2001188018575506"
                         data-ad-slot="5065873877"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->
<!-- Modal -->

<!-- Button trigger modal -->
<button 
    type="button" 
    class="btn btn-primary btn-lg" 
    id="button-show-modal" 
    data-toggle="modal" 
    data-target="#myModal" 
    data-backdrop="static"
    style="display:none;">
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Instructions</h4>
            </div>
            <div class="modal-body">
                <p class="lead" id="modal-description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var pageData = {
            version: '@Model.Version',
            seed: '@Model.Seed'
        };
    </script>
    <script src="~/Scripts/TheBraverest.js"></script>
    <script src="~/Scripts/app.js"></script>
}